entrypoint = "README.md"
modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 8000

[[ports]]
localPort = 32901
externalPort = 8080

[[ports]]
localPort = 35653
externalPort = 8099

[[ports]]
localPort = 35857
externalPort = 8008

[[ports]]
localPort = 35929
externalPort = 9000

[[ports]]
localPort = 40441
externalPort = 6000

[[ports]]
localPort = 40841
externalPort = 3003

[[ports]]
localPort = 41175
externalPort = 5173

[[ports]]
localPort = 42799
externalPort = 5000

[[ports]]
localPort = 42929
externalPort = 3002

[[ports]]
localPort = 43305
externalPort = 8081

[[ports]]
localPort = 43383
externalPort = 4200

[[ports]]
localPort = 43451
externalPort = 6800

[[ports]]
localPort = 44167
externalPort = 3001

[[ports]]
localPort = 44845
externalPort = 3000

[env]
PORT = "5000"

[agent]
stack = "EXPO"
expertMode = true
integrations = ["javascript_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start dev servers"

[[workflows.workflow]]
name = "Start dev servers"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN ./node_modules/.bin/expo start --web --port 5000"
waitForPort = 5000

[userenv]

[userenv.shared]
EXPO_PUBLIC_SUPABASE_URL = "https://eezztfypfcndhdlopfyr.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlenp0ZnlwZmNuZGhkbG9wZnlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUwMDgzNTAsImV4cCI6MjA4MDU4NDM1MH0.tO5v-PypKNIE7JejvNhkLWeAnnpEv9zeGVZURHU6JY8"
SUPABASE_URL = "https://eezztfypfcndhdlopfyr.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlenp0ZnlwZmNuZGhkbG9wZnlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUwMDgzNTAsImV4cCI6MjA4MDU4NDM1MH0.tO5v-PypKNIE7JejvNhkLWeAnnpEv9zeGVZURHU6JY8"

