entrypoint = "README.md"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35315
externalPort = 3003

[[ports]]
localPort = 39205
externalPort = 3002

[[ports]]
localPort = 39353
externalPort = 5000

[[ports]]
localPort = 41175
externalPort = 5173

[[ports]]
localPort = 43383
externalPort = 4200

[[ports]]
localPort = 44167
externalPort = 3001

[[ports]]
localPort = 44845
externalPort = 3000

[env]
PORT = "5000"

[agent]
stack = "EXPO"
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start dev servers"

[[workflows.workflow]]
name = "Start dev servers"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start --web --port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

